<form
  nz-form
  [formGroup]="validateForm"
  (ngSubmit)="submitForm(validateForm.value)"
>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Id</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input
        [(ngModel)]="editedPhongBan.id"
        readonly
        nz-input
        formControlName="id"
        placeholder="id"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <input
        [(ngModel)]="editedPhongBan.email"
        nz-input
        formControlName="email"
        placeholder="email"
        type="email"
      />
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('email')">
          The input is not valid E-mail!
        </ng-container>
        <ng-container *ngIf="control.hasError('required')">
          Please input your E-mail!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Phone number</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nbFormat">
      <input
        [(ngModel)]="editedPhongBan.phoneNumber"
        nz-input
        type="tel"
        formControlName="phone"
      />
      <ng-template let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input number!
        </ng-container>
      </ng-template>
      <ng-template #nbFormat let-control>
        <ng-container *ngIf="control.hasError('wrong')">
          Wrong number format!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Name:</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input
        [(ngModel)]="editedPhongBan.name"
        nz-input
        formControlName="name"
        placeholder="input name"
      />
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input name!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button type="submit" nzType="primary" [disabled]="!validateForm.valid">
        Submit
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
